<form nz-form [formGroup]="form">
  <div nz-row [nzGutter]='24'>
    <div nz-col nzSpan='12'>
      <span>კლიენტის ნომერი</span>
      <input nz-input style="width: 100%" formControlName="clientNumber"
             type="number"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>სახელი</span>
      <input nz-input style="width: 100%" formControlName="firsName"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>გვარი</span>
      <input nz-input style="width: 100%" formControlName="lastName"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>სქესი</span>
      <input nz-input style="width: 100%" formControlName="gender"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>პირადი ნომერი</span>
      <input nz-input style="width: 100%" formControlName="personalNumber"
             type="number"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>მობილური</span>
      <input nz-input style="width: 100%" formControlName="phoneNumber"
             type="number"
             placeholder="ჩაწერე"
      >
    </div>
    <nz-divider></nz-divider>
    <div nz-col nzSpan='12'>
      <span>ქვეყანა</span>
      <input nz-input style="width: 100%" formControlName="legalCountry"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>ქალაქი</span>
      <input nz-input style="width: 100%" formControlName="legalCity"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>მისამართი</span>
      <input nz-input style="width: 100%" formControlName="legalAddress"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <nz-divider></nz-divider>
    <div nz-col nzSpan='12'>
      <span>ქვეყანა</span>
      <input nz-input style="width: 100%" formControlName="actualCountry"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>ქალაქი</span>
      <input nz-input style="width: 100%" formControlName="actualCity"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>
    <div nz-col nzSpan='12'>
      <span>მისამართი</span>
      <input nz-input style="width: 100%" formControlName="actualAddress"
             type="text"
             placeholder="ჩაწერე"
      >
    </div>

  </div>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="modal.close()">გაუქმება</button>
  <button
    nz-button
    nzType="primary"
    (click)="submit()"
  >შენახვა
  </button>
</div>
