<!--{{total}}-->
<!--<br/>-->
<!--{{customers$ | async | json}}-->

<!--<button (click)="paginationChange($event)">2</button>-->
<!--<button (click)="paginationChange(3)">3</button>-->
<!--<button (click)="paginationChange(4)">4</button>-->
<!--<button (click)="paginationChange(5)">5</button>-->
{{total}}

<app-header></app-header>
<tb-table-wrapper>
<button (click)="add()" >დამატება</button>
  <input
    nz-input

    [ngModel]="search"
    (ngModelChange)="filter($event)"
  />
  <nz-table
    #customersTable
    [nzData]="(customers$ | async)?.data || []"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="page"
    (nzQueryParams)="paginationChange($event)"

  >
  <thead>
  <tr>
    <th nzColumnKey="firsName" [nzSortFn]="true">სახელი</th>
    <th nzColumnKey="lastName" [nzSortFn]="true" >გვარი</th>
    <th nzColumnKey="gender" [nzSortFn]="true" >სქესი</th>
    <th nzColumnKey="personalNumber" [nzSortFn]="true">პირადი ნომერი</th>
    <th nzColumnKey="phoneNumber" [nzSortFn]="true">მობილური</th>
    <th>იურიდიული მისამართი</th>
    <th>ფაქტიური მისამართი</th>
    <th>ფოტოსურათი</th>
    <th nzColumnKey="createAt" [nzSortFn]="true">შექმნის თარიღი</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of customersTable.data ">
    <td>{{data.firsName}}</td>
    <td>{{data.lastName}}</td>
    <td>{{data.gender}}</td>
    <td>{{data.personalNumber}}</td>
    <td>{{data.phoneNumber}}</td>
    <td>{{data.legalCountry}} {{','}} {{data.legalCity}} {{','}} {{data.legalAddress}}</td>
    <td>{{data.actualCountry}} {{','}} {{data.actualCity}} {{','}} {{data.actualAddress}}</td>
    <td>{{data.img}}</td>
    <td>{{data.createAt | date: 'dd/MM/YYYY HH:mm'}}</td>
    <td>

    </td>
  </tr>
  </tbody>
</nz-table>
</tb-table-wrapper>
