<!--{{total}}-->
<!--<br/>-->
<!--{{customers$ | async | json}}-->

<button (click)="paginationChange(2)">2</button>
<button (click)="paginationChange(3)">3</button>
<button (click)="paginationChange(4)">4</button>
<button (click)="paginationChange(5)">5</button>
<app-header></app-header>
<tb-table-wrapper>
<button (click)="add()" >დამატება</button>
<ng-template #footer>
  <tb-pagination
    [page]="page"
    [pageSize]="pageSize"
    [total]="total"
    (paginationChange)="paginationChange(page)"
  ></tb-pagination>
</ng-template>
<nz-table *ngIf="customers$ | async as row"
          [nzFooter]="footer"
>
  <thead>
  <tr>
    <th>სახელი</th>
    <th>გვარი</th>
    <th>სქესი</th>
    <th>პირადი ნომერი</th>
    <th>მობილური</th>
    <th>იურიდიული მისამართი</th>
    <th>ფაქტიური მისამართი</th>
    <th>ფოტოსურათი</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of row.data ">
    <td>{{data.firsName}}</td>
    <td>{{data.lastName}}</td>
    <td>{{data.gender}}</td>
    <td>{{data.personalNumber}}</td>
    <td>{{data.phoneNumber}}</td>
    <td>{{data.legalCountry}} {{','}} {{data.legalCity}} {{','}} {{data.legalAddress}}</td>
    <td>{{data.actualCountry}} {{','}} {{data.actualCity}} {{','}} {{data.actualAddress}}</td>
    <td>{{data.img}}</td>
    <td>

    </td>
  </tr>
  </tbody>
</nz-table>
</tb-table-wrapper>
