.container {
  display: flex;
  flex-direction: column;
  .header {
    flex: initial;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    &__left {
      flex: 0 1 auto;
    }

    &__right {
      flex: initial;
    }
  }

  .body {
    flex: 0 1 auto;
    overflow: auto;
  }
}
